{{$secrets := secret "YOUR-PROJECT-UUID-HERE" "prod" "/terraform"}}
{
  {{- range $secret := $secrets }}
  {{- if eq $secret.Key "HV_USER" }}"token_id": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "HV1_TOKEN_SECRET" }}"hv1_token_secret": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "LXC_PASSWORD" }}"lxc_password": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "SSH_PRIVATE_KEY" }}"ssh_private_key_b64": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "SSH_PUBLIC_KEY" }}"ssh_public_key": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "IPAM_USERNAME" }}"ipam_username": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "IPAM_PASSWORD" }}"ipam_password": "{{$secret.Value}}",{{ end }}
  {{- if eq $secret.Key "TECHNITIUM_API_TOKEN" }}"technitium_api_token": "{{$secret.Value}}",{{ end }}
  {{- end }}
  "_sentinel": "1"
}
